@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --APP-BG-COLOR: #ffffff;
    --PRIMARY-TEXT-COLOR: #1b1b1b;
}

body {
    font-family: "League Spartan", sans-serif;
    color: var(--PRIMARY-TEXT-COLOR);
    width: 100%;
}

form input,
select {
    border: 1px solid #dfe3fa;
    padding: 0.4rem;
    border-radius: 0.2rem;
    color: #1b1b1b;
}

input[type="date"],
select {
    color: #777f98;
}

#payment-terms {
    appearance: none;
    box-sizing: border-box;
    width: 100%;
}

form label {
    color: #7e88c3;
    font-size: 0.9rem;
}

.input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper select {
    appearance: none;
    padding-right: 35px;
}

.icon {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
}

#x {
    width: 20px;
    height: 20px;
    background: #373b531f;
}

th,
td {
    padding: 1rem;
}

tfoot tr td {
    padding: 2rem;
}

td {
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
}

.row-left {
    text-align: left;
}

.row-right {
    text-align: right;
}

.dark input,
.dark .select-wrapper select {
    background-color: #1e2139;
    border: 1px solid #252945;
    color: white;
}

.dark label {
    color: #dfe3fa;
}

@media screen and (max-width: 600px) {
    th,
    td {
        padding: 0.5rem;
    }
}
